.aluno {
  display: flex;
  margin: .1em 0 0;
  border-radius: .25em;
  border: 1px solid black;
  overflow: hidden;
}
.aluno .codigo {
  background-color: lightcoral;
  flex: 0 1 5em;
  padding: .5em;
  text-align: right;
}
.aluno .nome {
  background-color: lightgreen;
  flex: 1 1 auto;
  padding: .5em;
  text-align: left;
}
